<div class="page">
    <form action="/geturl" method="post">
        <input type="url" name="url" placeholder="input long url here" required />
        <input type="submit" value="submit" />
    </form>
</div>
